@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,600&display=swap');

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  body {
    background-color: #01010F;
    color: #FFF3E9;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transform-style: preserve-3d;
    perspective: 1000px;
  }

  section {
    display: block;
    max-width: 1200px;
    margin: 0px auto;
    padding: 50px;
    margin-bottom: 120px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 50px;
  }

  .logo {
    font-size: 22px;
  }

  .title {
    /* font-size: 2.4vw; */
    font-size: 42px;
    /* max-width: 55vw; */
    max-width: 1100px;
    margin: 0px;
    line-height: 110%;
    /* background-color: red; */
  }

  h2, h3, h4 {
    font-size: 32px;
    margin: 0px;
    margin-bottom: 20px;
  }

  .journey-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .journey-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

  .journey-gallery img{
   width: 100%;
   height: 320px;
   object-fit: cover;
  }

  .time-container {
    display: flex;
  }

  .time-pill {
    font-size: 13px;
    border: 1px solid #B4F745;
    color: #B4F745;
    padding: 3px 16px;
    margin: 0px;
    margin-right: 8px;
    border-radius: 100px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
  }
  .time-pill:hover {
    opacity: 1;
    transition: 0.2s;
  }
  .time-pill.active {
    color: #01010F;
    background-color: #B4F745;
    opacity: 1;
    animation: popUp 300ms forwards;
  }

  .journey-description{
    max-width: 500px;
    font-size: 16px;
    min-height: 200px;
    opacity: 0.75;
    font-weight: 300;
  }
  .image1-description, .image2-description {
    font-size: 12px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 70px;
  }

  .journey-gallery_card {
    transform-style: preserve-3d;
    background-color: #FFF3E9;
    padding: 12px 12px;
    color: #01010F;
    -webkit-box-shadow: -7px 10px 13px -4px rgba(0,0,0,0.48);
    -moz-box-shadow: -7px 10px 13px -4px rgba(0,0,0,0.48);
    box-shadow: -7px 10px 13px -4px rgba(0,0,0,0.48);
    transition: 200ms;
  }

  .image {
    opacity: 0;
    max-height: 200px;
  }
  .fadeIt {
    animation: fadein 300ms forwards;
  }

  .journey-gallery_card.left {
    transform: rotate(5deg);
    transition: 0.2s;
  }
  .journey-gallery_card.left:hover {
    transform: rotate(0deg);
    transition: 0.2s;
  }
  .journey-gallery_card.right {
    transform: rotate(-13deg);
    transition: 0.2s;
  }
  .journey-gallery_card.right:hover {
    transform: rotate(0deg);
    transition: 0.2s;
  }

  .icons {
    display: flex;
    align-items: center;
  }
  .icons >* {
    margin-left: 8px;
  }

  .interest-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 25px;
  }

  .interest-card img {
    width: 100%;
  }
  .interest-card p {
    margin: 0px;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 25px;
  }

  .project-card a {
    text-decoration: none;
    color: #FFF3E9;
  }

  .project-card_title {
    font-size: 20px;
    margin: 0px;
    margin-top: 8px;
  }
  .project-card_content {
    font-size: 14px;
    margin: 0px;
    opacity: 0.75;
    font-weight: 300;
    margin-top: 4px;
  }

  .project-card_image {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }

 
  

  @media screen and (max-width: 1200px) {
    .title {
        font-size: 3.4vw;
    }
    .journey-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .journey-gallery img{
        width: 100%;
    }
    .interest-grid {
        grid-template-columns: repeat(3, 1fr);
      }
  }

  @media screen and (max-width: 725px) {
    section {
        margin-bottom: 0px;
    }
    .title {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .journey-gallery {
        grid-template-columns: 1fr;
    }

    .interest-grid {
        grid-template-columns: repeat(2, 1fr);
      }
      .project-grid {
        grid-template-columns: 1fr;
      }
    
  }

  @keyframes popUp {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
  }

  @keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }